
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is the owner of the document
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      // Secure the transactions subcollection
      match /transactions/{transactionId} {
        allow read, write: if isOwner(userId);
      }

      // Secure the budgets subcollection
      match /budgets/{budgetId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
